.choose-box{
 
width: 18.75vw;
height: 20.694vw;




background: #FFFFFF;


box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}

#choose-box-circle{
    position: relative;
    left: 2.083vw;
    top: 2.083vw;
    color: #828089;
   
}

.choose-box h5{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 1.389vw;
line-height: 30px;
/* identical to box height, or 150% */


/* Primary color/#2B2B2B */

color: #2B2B2B;
position: relative;
left: 15px;

}

.choose-box p{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 1.111vw;
line-height: 1.667vw;
/* or 150% */


/* Primary color/#828089 */

color: #828089;
position: relative;
width: 16.667vw;
left: 1.042vw;
}

#choose-box-img{
    /* border: 1px solid black; */
    z-index: 1;
    position: relative;
    left: -3.125vw;
    top: 0.347vw;
  
}