.text-first-section{
    width: 589px;
    height: 349px;
    /* border: 1px solid black; */
    position: relative;
    top: 6.944vw;
    left: 6.944vw;
 
   
   
}
.text-first-section h1{

line-height: 5.069vw;
font-weight: 700;
font-size: 3.391vw;

}


#themze{
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
     font-style: normal;
     font-weight: 700;



}

#p-first-section{

font-style: normal;
font-weight: 600;
font-size: 1.389vw;
line-height: 2.083vw;
/* or 150% */


/* Primary color/#828089 */

color: #828089;

}