.first-container{
    display: flex;
 
   height: 800px;

   border: 1px solid black;
   height: 1300px
  
    
}
#companylogo{
    position: absolute;
    top: 15.347vw;
    right: 9.722vw;
    
   
}

#background-circle{
    position: absolute;
    top: 0vw;
    right: 0vw;
    width: 45%;

}