.first-container{
    display: flex;
    position: relative;
    /* border: 1px solid black; */
  
  
    
}
#companylogo{
    position: absolute;
    top: 10.347vw;
    right: 9.722vw;
    /* border: 1px solid black; */
   
}

#background-circle{
    position: absolute;
    top: 0vw;
    right: 0vw;
    width: 45%;
    /* border: 1px solid black; */

}

#choose-us-h2{
    position: absolute;
    top: 900px;
    z-index: 1;
font-style: normal;
font-weight: 700;
font-size: 2.713vw;
line-height: 4.097vw;
/* border: 1px solid black; */
height: 6.944vw;
width: 27.778vw;
left: 33.486vw;
text-align: center;
}