.first-container{
    display: flex;
    position: relative;
  
   
    border: 1px solid black;
    height: 1300px
  
    
}
#companylogo{
    position: absolute;
    top: 15.347vw;
    right: 9.722vw;
    border: 1px solid black;
   
}

#background-circle{
    position: absolute;
    top: 0vw;
    right: 0vw;
    width: 45%;
    border: 1px solid black;

}

#choose-us-h2{
    position: absolute;
    top: 900px;
    z-index: 1;
font-style: normal;
font-weight: 700;
font-size: 39.0625px;
line-height: 59px;
border: 1px solid black;
height: 100px;
width: 400px;
left: 33.486vw;
text-align: center;
}