.nav-container{
    display: flex;
    position: absolute;
    width: 85%; 
    height: 100px;
    left: 9.5vw;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo{

    padding-right: 2.083vw;
    padding-left: 2.083vw;
}