.nav-container{
    display: flex;
    position: relative;
    height: 100px;
    left: 9.5vw;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 81.25vw;
    z-index: 1;
    
}

.logo{
   margin-right: 2.083vw;
   margin-left: 2.083vw;
}

