.search-container{
    width: 500px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
   
}
.search-input{
    position: relative;
    left: 15px;
    height: 30px;
    width: 350px;
    top: 5px;
    border: none;
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.search-input:focus{
    outline: none;
}

.search-btn{
    width: 101px;
    height: 50px;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    border:none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
    top: 5px;
    right: -15px;
}

.search-logo{
    position: relative;
    left: 40px;
    top: 10px;
    z-index: 1;
 
}

.search-btn:hover{
    cursor: pointer;
}