.magazine-container{
    border: 1px solid black;
    position: relative;
    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
    border-radius: 5px;
    width: 3.472vw;
    height: 3.472vw;
    border: none;
    top: 1vw;
    
    
}

.magazine{
    
    position: relative;
    top: 0.694vw;
    left: 0.694vw;
    height: 2.222vw;
    width: 2.222vw;

}

.magazine:hover{
   cursor: pointer;
}