.choose-us-box-container{
    display: flex;
    gap: 2.083vw;
    position: absolute;
    justify-content: center;
    top: 1100px;
    left: 6.944vw;
    /* border: 1px solid black; */
    height: 400px;
  
}






